/* Colors */
.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.brow {
    color: var(--brow);
}

.salmon {
    color: var(--salmon);
}

.gold {
    color: var(--gold);
}

/* Backgrounds */
.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-brow {
    background-color: var(--brow);
}

.bg-salmon {
    background-color: var(--salmon);
}

.bg-gold {
    background-color: var(--gold);
}