@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

:root {
    --white: #fff;
    --white-light: #eee;
    --black: #222;
    --brow: #23160c;
    --salmon: #ddb99d;
    --salmon-dark: #e9967a;
    --gold: #ecb911;
}